[submodule "Level1"]
	path = Level1
	url = https://github.com/Civiconnect/training-level1.git
[submodule "Level2"]
	path = Level2
	url = https://github.com/Civiconnect/training-level2.git
[submodule "Level3"]
	path = Level3
	url = https://github.com/Civiconnect/training-level3.git
[submodule "Level4"]
	path = Level4
	url = https://github.com/Civiconnect/training-level4.git
[submodule "Level5"]
	path = Level5
	url = https://github.com/Civiconnect/training-level5.git
